* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial;
}

h1,
h2 {
    text-align: center;
    margin-block: 2rem;
}

.container {
    padding: 1rem;
    width: 50vw;
    margin-inline: auto;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
    margin-block: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.grid button {
    margin: 1rem;
}